@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Roboto:wght@500&display=swap');

:root {
  --font-color: white;
  --main-color: #113f67;
  --secondary-color: #38598b;
  --third-color: #f4f5ff;
  --mrg: 1rem;
  --pdg-v: 0.5rem;
  --pdg-h: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
  background: url(/src/assets/images/ocean.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

button {
  cursor: pointer;
  padding:  var(--pdg-v) var(--pdg-h);
  background-color: transparent;
  border: none;
}

button:hover {
  opacity: 0.85;
}

button:active {
  transform: scale(0.9);
}

.main-icon {
  font-size: 2rem;
}

.content {
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
  "title title"
  ". .";
}

.title {
  grid-area: title;
  background-color: var(--main-color);
  box-shadow: 5px 5px 10px 10px var(--main-color);
  display: flex;
  align-items: center;
  padding: calc(3 * var(--pdg-h));
}

.menu {
  opacity: 0.8;
  background-color: var(--secondary-color);
  box-shadow: 5px 5px 10px 10px var(--secondary-color);
  padding-top: var(--pdg-v);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--pdg-v);
}

.table {
  padding: var(--pdg-h);
  overflow: hidden;
}

.card {
  background-color: var(--third-color);
  color: var(--main-color);
  margin: var(--mrg);
  padding: var(--pdg-v) var(--pdg-h);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h4 {
  white-space: nowrap;
  overflow: auto;
}

.tick {
  padding: 0;
}

.modal {
  display: none; /* Hidden by default */
  place-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--mrg);
  max-width: 400px;
  background-color: var(--main-color);
  padding: calc(3 * var(--pdg-v));
  border-radius: 10px;
  position: relative;
}

.close-button {
  position: absolute;
  top: var(--pdg-v);
  right: var(--pdg-v);
}

input, textarea {
  outline: 0;
  background-color: var(--third-color);
  border-radius: 10px;
  padding:  var(--pdg-v) var(--pdg-h);
}

textarea {
  width: 100%;
}

.priority-btn {
  border-radius: 10px;
}

#low-priority {
  background-color: #beeb9f;
}

#medium-priority {
  background-color: #ffff9d;
}

#high-priority {
  background-color: #ff6138;
}

.submit {
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: var(--font-color);
  border: 0;
  font-size: 18px;
  height: 50px;
  outline: 0;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}


.is-blurred {
  filter: blur(2px);
}


@media screen and (max-width: 600px) {
  :root {
    --mrg: 1rem;
    --pdg-v: 0.1rem;
    --pdg-h: 0.2rem;
  }

  .content {
    grid-template-rows: 100px 1fr;
    grid-template-columns: 100px 1fr;
  }
}